
body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    font-size: small;
    height: 100%;
    width: 100%;
    min-height: 100%;
    margin: 0 !important
}

.tooltip.right .tooltip-arrow {
    border-right: 5px solid #294D2B !important;
}

.tooltip-inner {
    background-color: #294D2B !important;
}